.employee-wrapper{
    width: 100%;
    height: auto;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}


.employee-form-wrapper{
    max-width: 1226px;
    width: 100%;
    height: 973px;
    background-color: #FFF;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    
}

.select-container{
    width: 870px;
    height: 60px;
    margin-top: 44px;
}
/* select{
    width: 850px;
    padding: 8px 24px;
    background-color: #EBEBEB;
    border-radius: 8px;
} */


.employee-form-parent{
    max-width: 900px;
    width: 100%;
    height: auto;
    margin-top: 88px;
    display: flex;
    flex-direction: column;
}
.user-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.name-container{
    max-width: 440px;
    width: 100%;
    height: 135px;
    position: relative;
}
.success-icon{
    position: absolute;
    right: 20px;
    top: 60px;
    display: none;
}
.success-icon-mail,.success-icon-phone{
    position: absolute;
    right: 20px;
    top: 52px;
    display: none;
}
.lastname-container{
    max-width: 440px;
    width: 100%;
    height: 135px;
    position: relative;
}
.name-text,.lname-text{
    color: #000000;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    padding-left: 20px;
    padding-top: 8px;
}
.phone-text{
    color: #000000;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}
.name-input,.lname-input{
    max-width: 407px;
    width: 100%;
    height: 60px;
    border: 1.8px solid #8AC0E2;
    border-radius: 8px;
    margin-left: 20px;
    margin-top: 8px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    padding-left: 5px;
}
.name-input,.lname-input:focus{
    outline: none;
}
.request-text{
    color: #2E2E2E;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    padding-left: 20px;
    padding-top: 8px;
}
select{
    /* width: 878px;
    height: 60px;
    margin-left: 20px;
    margin-top: 36px; */
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    background-color: #EBEBEB;
    border: 0;
    border-radius: 8px;
    font-size: 18px;
    flex: 1;
    padding-left: 8px;
    cursor: pointer;
}
select::-ms-expand{
    display: none;
}
.select{
    position: relative;
    display: flex;
    width: 878px;
    height: 60px;
    margin-left: 20px;
    margin-top: 36px;
    border: 1px solid transparent;
    border-radius: 8px;
}
.select::after{
    content: url('/public/images/downarrow.png');
    position: absolute;
    right: 0;
    top: 20px;
    padding: 0 20px;
}
option{
    margin-top: 20px;
}
.phone-container,.mail-container{
    max-width: 878px;
    width: 100%;
    height: auto;
    margin-top: 32px;
    margin-left: 20px;
    position: relative;
}
.phone-input,.mail-input{
    width: 100%;
    height: 60px;
    margin-top: 8px;
    border: 1.8px solid #8AC0E2;
    border-radius: 8px;
}
.mail-input,.phone-input:focus{
    outline: none;
}
.phone-request-text,.mail-request-text{
    color: #2E2E2E;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    padding-top: 8px;
}
.next-btn{
    margin-top: 90px;
    background-color: #62A1EB;
    padding: 18px 60px;
    color: white;
    border: 0;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    border-radius: 8px;
    cursor: pointer;
    float: right;
}
.team-selector,.position-selector{
    position: relative;
    margin-top: 50px;
    width: 885px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EBEBEB;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    padding-left: 9px;
    margin-left: 15px;
    
}
.team-options{
    top: 50px;
    left: 0;
    position: absolute;
    z-index: 10;
    width: 100%;
    max-width: 875px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 34px #00000040;
}
.team-options span{
    font-size: 18px;
    font-weight: 400;
    line-height: 21.5px;
    display: block;
    padding: 10px;
    cursor: pointer;
}
.team-options span:hover{
    background-color: #E7F0F8;
}
@media(max-width:1100px){
    .user-container{
        height: auto;
        flex-direction: column;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .employee-form-wrapper{
        height: auto;
    }
    .user-container{
        width: 100%;
    }
    .name-container,.lastname-container{
        width: 100%;
    }
}
@media(max-width:1000px){
    .team-selector,.position-selector,.name-input,.lname-input,.mail-input,.phone-input{
        width: 90%;
    }
    .employee-form-wrapper{
        height: auto;
    }
    .employee-form-parent{
        justify-content: center;
    }
    .next-btn{
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .success-icon-mail,.success-icon-phone{
        right: 40px;
    }
}