.landing-wrapper{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}
.logo-container{
    margin-top: 80px;
}
.main-image{
    width: 780px;
    height: 482px;
}
.main-image-container{
    margin-top: 80px;
}
.buttons-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.start-btn{
    width: 387px;
    height: 60px;
    background-color: #62A1EB;
    color: #FFFFFF;
    border: 0;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.list-btn{
    width: 387px;
    height: 60px;
    background-color: #62A1EB;
    color: #FFFFFF;
    border: 0;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}


@media(max-width:800px){
    .main-image{
        width: 680px;
        height: 400px;
    }
}
@media(max-width:700px){
    .main-image{
        width: 580px;
        height: 320px;
    }
}
@media(max-width:600px){
    .main-image{
        width: 500px;
        height: 270px;
    }
}
@media(max-width:500px){
    .main-image{
        width: 300px;
        height: 180px;
    }
    .buttons-wrapper{
        width: 100%;
    }
    .start-btn{
        width: 90%;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .list-btn{
        width: 90%;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}